#context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
  }
  
  #context-menu.visible {
     display: block;
  }
  
  #context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    border-radius: inherit;
  }
  
  #context-menu .item:hover {
    background: #b87676;
  }


  
button
{
font-size:20px;
}

.button_create
{
  display: inline-block;
  padding: 10px 14px;
  margin-right: 10px;
  border-radius: 50%;
  border: none;
  background: #ccd5ae;
  color:black;
}

.button_deleteAll
{
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background: red;
  color:black;
}

.list
{
  background: #d4a373;
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
  white-space: pre-line;
  word-spacing: 3px;
  /* border: none; */
  padding: 10px 10px;
  border-radius: 10px;
  margin: 10px;
}

#count
{
   margin-left:40px;
   font-style: normal;
   font-size:25px;
   color:rgb(216, 19, 19);
}