body {
  margin: 24px;
  background-image: url(https://images.unsplash.com/photo-1650641033795-496437c828ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  font-family: "Quicksand", sans-serif;
  background-size: cover
}

.title {
  border-radius: 30px;
  text-align: center;
  color: black;
}

.timer {
  font-family: "Quicksand", sans-serif;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 30px;
  bottom: 140px;
  left: 24px;
  background: #d4a373;
  position: fixed;
  line-height: 2em;
}

.timer__part {
  font-size: 36px;
  font-weight: bold;
}

.timer__btn {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #cdb4db;
  cursor: pointer;
}

.text {
  background: #fefae0;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
}

.timer2 {
  font-family: "Quicksand", sans-serif;
  display: inline-block;
  padding: 10px 32px;
  padding-top: 10px;
  border-radius: 30px;
  background: #d4a373;
  bottom: 30px;
  left: 24px;
  z-index: -1;
  position: fixed;
  line-height: 2em;
}

.timer2__part {
  font-size: 36px;
  font-weight: bold;
}

.timer2__btn {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #8208e6;
  cursor: pointer;
}

.timer__btn--start {
  background: #a1c181;
}

.timer__btn--stop {
  background: #ff0256;
}

.timer2__btn--start {
  background: #a1c181;
}

.timer2__btn--stop {
  background: #ff0256;
}

